# Version control
.git
.github
.gitignore

# Dependencies
node_modules

# Environment variables
.env
.env.example

# Logs
logs
*.log

# Temporary files
tmp
temp

# Editor directories and files
.vscode
.idea
*.swp
*.swo

# Build artifacts
dist
build

# Vaadin docs repository (will be cloned during the ingestion process)
vaadin-docs

# Test files
test
*.test.ts
*.spec.ts
